*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 90%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 5%;
    
    .nav-image{
        & img{
            margin-top: 10px;
            cursor: pointer;
        }
    }

    .nav-limk{
        
        & a{
            padding: 10px;
            text-decoration: none;
            font-size: 16px;
            color: #000;
            font-weight: 500;
        }
    }

    .nav-account{
        display: flex;
        align-items: center;

        & a{
            padding: 11px 28px;
            text-decoration: none;
            color: #000;
            font-size: 16px;
            background-color: #F1F1F1;
            border-radius: 30px;
            font-weight: 500;
            margin: 0 10px;

        }
        .get{
            background-color: #000;
            color: #fff;
            
        }
        & span{
            font-size: 30px;
            cursor: pointer;
        }

       
    }
}

.hero-section{
    position: relative;

    & img{
        width: 100%;
        height: auto;
        object-fit: cover;
    }
    .method{
        position: absolute;
        top: 25%;
        left: 15%;
        width:70%;
        height: 300px;
        text-align: center;
        background-color: #fff;
        border-radius: 10px;
        border: 1px;

        & h2{
            font-size: 45px;
            font-weight: 500;
            margin-top:50px;
            margin-bottom: 40px;

        }
        .payment-section{

            & select{
                width: 200px;
                height: 35px;
                border-radius: 4px;
                margin: 0 5px;
                font-size: 16px;
                border: none;
                background-color: #eee;
                padding-left: 10px;
                cursor: pointer;
                

            
            }
        }
        
        .offer{
            display: flex;
            height: 35px;
            border-radius: 4px;
            border: none;
            margin: 15px 0;
            align-items: center;

            & input{
                width: 632px;
                height: 35px;
                margin-left: 20px;
                text-align: center;
                font-weight: 600;
                font-size: 18px;
                color: #000;
                background-color: #eee;
                border-radius: 4px;
                border: none;
                cursor: pointer;

            }
            & button{
                width: 195px;
                margin-left: 15px;
                height: 35px;
                border-radius: 30px;
                border: none;
                font-weight: 600;
                font-size: 18px;
                background-color: #00EBC7;
                cursor: pointer;
            }
        }
    }
    & a{
        position: absolute;
        top: 80%;
        left: 43%;
        font-size: 22px;
        color: #fff;
        padding: 11px 28px;
        border-radius: 30px;
        border: 1px solid #fff;
    }
}

.company{
    width: 100%;
    height: 370px;
    background-color: #FDE24F;
    
   
    & h3{
        text-align: center;
        padding-top: 100px;
        font-size: 34px;
        font-weight: 400;
    }
    .company-logo{
        
       display: flex;
       align-items: center;
       justify-content: center;
       margin-right: 100px;
       margin-top: 50px;

        & img{
           align-items: center;
           margin-left: 80px;
           
        }
    }


}
.featurs-section{
    height: 680px;
    width: 90%;
    & h3{
        padding-left: 65px;
        padding-top: 80px;
        font-size: 34px;
        font-weight: 500;
    }
    .features{
        display: flex;
        justify-content: space-evenly;
        margin-top: 90px;
        margin-left: 130px;
        
       

        .featurs-box{
            width: 30%;
            text-align: center;
            
           
            & h4{
                margin-top: 15px;
                font-size: 24px;
            }
            & p{
                margin-top: 15px;
                margin-bottom: 40px;
                color: #535353;
            }
            & a{
                color: #161616;
            }
           
        }
    }
    & button{
        text-decoration: none;
        text-align: center;
        justify-content: center;
        padding: 11px 28px;
        border: 1px solid black;
        width:fit-content;
        border-radius: 30px;
        margin-left: 48%;
        margin-top: 100px;
        cursor: pointer;
    
    }

}

.buy-sell-section{
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    align-items: center;
    justify-content: space-evenly;
    height: 600px;

    .between{
        width: 40%;
       
        & h3{
            font-size: 34px;
        }
        
        .Zelle{
            display: flex;
            align-items: center;
            border: 1x solid #000;
            border-radius: 15px;
            margin: 20px 0;
            width: 100%;
            padding: 10px;
            border:1px solid #000;
           

        

            & img{
                width: 50px ;
                height: auto;
            }
            .p1{
                padding-left: 20px;
            }
            .p2{
                padding-left: 30px;
            }
            .p3{
                padding-left: 40px;
            }
            .p4{
                padding-left: 45px;
            }
            .p5{
                padding-left: 60px;
            }
        }
        & button{
            text-align: center;
            color: #fff;
            background-color: #000;
            height: 50px;
            width: 220px;
            border-radius: 15px;
            margin-left: 100px;
            margin-top: 60px;
            border: none;
            cursor: pointer;
        }
    }
   

}

.vertical-line{
    width: 2px;
    height: 600px;
    background-color: #000;
   
}

.started-section{
    height: 600px;
    background-color: #CFBAFF;
    text-align: center;

    & p{
        font-size: 75px;
        font-weight: 500;
        padding: 130px 0;
    }
    & button{
        height: 60px;
        width: 220px;
        color: #fff;
        background-color: #000;
        border-radius: 40px;
        border: none;
        font-size: 24px;
        font-weight: 500;
        cursor: pointer;
    }
}
.foot-pannel1{
    height: 600px;
    display: flex;
    background-color: #000;
    justify-content: center;

    & img{
        width: 140px;
        height: 30px;
        margin-right: 150px;
        margin-bottom: 195px;
        margin-left: 50px;
        margin-top: 13%;
    }
    .product{
        width: 20%;
        margin-top: 13%;

        & h3{
            color: #fff;
            font-size: 22px;
        }
        & p{
            flex-direction: column;color: #fff;
            padding-top: 20px;
        } 
        
        
    }
}
.copy{
    background-color: #000;
    text-align: center;
    justify-content: center;
    
    & p{
        margin-left: 5%;
        margin-right: 5%;
        color: #fff;
        font-size: 13px;
        padding: 15px 0;
        
    }
}


/* Responsive */
@media (max-device-width: 767px) {
    header{
       
        .nav-image{
           & img{
            width: 100px;
            height: auto;
            margin-top: 10px;
           }
        }
        
    
        .nav-limk{
            
            & a{
               display: none;
            }
        }
    
        .nav-account{
            
    
            & a{
                padding: 6px 12px;
                font-size: 16px;
                background-color: #F1F1F1;
                border-radius: 15px;
                margin: 0 5px;
    
            }
           
            & span{
                font-size: 30px;
            }
    
           
        }
    }
    
    .hero-section{

        .method{
            
            top: 10%;
            left: 5%;
            width: 90%;
            height: 130px;
           
    
            & h2{
                font-size: 18px;
                margin-bottom: 10px;
                margin-top:10px;
                
    
            }
            .payment-section{
    
                & select{
                    width: 65px;
                    height: 30px;
                    margin:  0px;
                    font-size: 11px;
    
                    padding-left: 3px;
    
                
                }
            }
            
            .offer{
                display: flex;
                height: 30px;
                
                margin: 10px 0;
                align-items: center;
    
                & input{
                    width: 135px;
                    height: 30px;
                    margin-left: 50px;
                    font-size: 14px;
                    
    
                }
                & button{
                    width: 130px;
                    margin-left: 5px;
                    height: 30px;
                    font-weight: 400;
                    letter-spacing: 2px;
                    font-size: 14px;
                    border-radius: 4px;
                    
                }
            }
        }
        & a{
            top: 77%;
            left: 35%;
            font-size: 14px;
            padding: 6px 12px;
           
        }
    }
    
    .company{
        
        height: 190px;
        
        
       
        & h3{
            padding-top: 50px;
            font-size: 20px;
        }
        .company-logo{
        
            margin-left: 20%;
           margin-top: 0px;
           justify-content: space-evenly;
           
    
            & img{
               margin-left: 25px;
               margin-top: 30px;
               width: 40px;
               height: 40px;
               
               
            }
            & img:nth-child(1){
                width: 30px;
                
               
            }
            
        }
    
    
    }
    
    .featurs-section{
        height: 1100px;
        & h3{
            padding-left: 45px; 
            padding-top: 30px;
            font-size: 24px;
            
        }
        .features{
            display: inline-block;
            justify-content: space-evenly;
            margin-top: 50px;
            margin-left: 50px;
            
           
    
            .featurs-box{
                width: 90%;
                margin-bottom: 80px;
               
                & h4{
                    margin-top: 15px;
                    font-size: 24px;
                }
                & p{
                    
                    margin-bottom: 30px;
                    
                }
                
            }
        }
        & button{
            
            
           color: #fff;
           background-color: #000;
           border: none;
            margin-left: 30%;
            margin-top: -20px;
            
        }
    
    }
    
    .buy-sell-section{
        display: inline-block;
        margin-left: 10%;
        margin-top: 30px;
        
        height: 800px;
    
        .between{
            width: 100%;
            
            margin-left: -6%;
            & h3{
                font-size: 24px;
            }
            
            .Zelle{
    
                & img{
                    width: 30px ;
                    height: auto;
                }
                .p1{
                    padding-left: 20px;
                    font-size: 14px;
                }
                .p2{
                    padding-left: 20px;
                    font-size: 14px;
                }
                .p3{
                    padding-left: 25px;
                    font-size: 14px;
                }
                .p4{
                    padding-left: 30px;
                    font-size: 14px;
                }
                .p5{
                    padding-left: 40px;
                    font-size: 14px;
                }
            }
            & button{
               
                height: 50px;
                width: 180px;
                margin-left: 95px;
                margin-top: 30px;
                margin-bottom: 60px;
            }
        }
       
    
    }
    .vertical-line{
        display: none;
       
    }
    
    .started-section{
        height: 360px;
      
    
        & p{
            font-size: 30px;
            font-weight: 400;
            padding: 60px 20px;
        }
        & button{
            height: 45px;
            width: 180px;          
            font-size: 18px;
            font-weight: 400;
            
        }
    }

    .foot-pannel1{
        height: 300px;
        display: flex;
        background-color: #000;
        justify-content: center;
    
        & img{
            width: 60px;
            height: 20px;
            margin-right: 0px;
            margin-bottom: 0;
            margin-top: 13%;
            margin-left: 10px;
            cursor: pointer;
        }
        .product{
            width: 25%;
            margin-left: 20px;
            margin-top: 52px;
    
            & h3{
    
                font-size: 14px;
            }
            & p{
                font-size: 11px;
                padding-top: 10px;
            } 
            
            
        }
    }
    .copy{
    
        
        & p{
            
            font-size: 11px;
            
            
        }
    }

}
